#bottomRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 625px;
    width: 400px;
    div {
        button {
            border-style: solid;
            border-width: 1px;
            border-radius: 5px;
            border-color: #ffcc5d;
            background-color: transparent;
            color: white;
            padding-left: 3px;
            padding-right: 3px;
            margin: 5px;
        }
    }
    #money {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0px;
        left: 450px;
        width: 80px;
    }
}