@media only screen and (min-width: 650px) {
    #bottomRow {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 625px;
        width: 400px;
        
        div {
            button {
                border-style: solid;
                border-width: 1px;
                border-radius: 5px;
                border-color: #ffcc5d;
                background-color: transparent;
                color: white;
                padding-left: 3px;
                padding-right: 3px;
                margin: 5px;
                outline: none;
            }
        }
        #money {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0px;
            left: 450px;
            width: 80px;
        }
    }
}

#bottomRow {
    #buttonCards {
        div {
            button:hover {
                color: #ffcc5d;
                animation: buttonframe linear 4s;
                animation-iteration-count: 1;
                transform-origin: 50% 50%; 
            }
        }
    }
}

@keyframes buttonframe{
    0% {
        transform:  translate(0px,0px)  rotate(0deg) ;
    }
    2% {
        transform:  translate(1px,-2px)  rotate(0deg) ;
    }
}
  
  