@media only screen and (max-width: 649px) {
    .input{
        #dealerCards {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            top: 300px;
            left: 15%;
            width: 70%;
            div {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    
                    img {
                        height: 25px;
                        margin-top: 5px;
                    }
                    color: #ffcc5d;
                    a {
                        margin-top: 5px;
                        color: white;                    }
                }
            }
            #dealer {
                div {
                    div {
                        
                    }
                }
            }
        }
    }
}