@media only screen and (max-width: 649px) {
    #playerCards {
        #blackJackTable {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            #YC {
                position: absolute;
                top: 475px;
            }
            #cards {
                position: absolute;
                top: 500px;
                height: 80px;
                div {
                    img {
                        height: 25px;
                        color: #ffcc5d;
                        svg {
                            color:#ffcc5d;
                        }
                    }
                    color: #ffcc5d;
                    a {
                        position: absolute;
                        left: 100px;
                        color: white;
                    }
                }
            }
        }
    }
    #CCP {
        position: absolute;
        top: 580px;
    }
}