@media only screen and (max-width: 649px) {
    .app {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: green;
        background-image: linear-gradient(to top, #1e3f07 0%, #205e14 100%);
        z-index: -8;
        height: 1000px;
        width: 100vw;
        #html {
            z-index: 1;
            color: white;
        }
    }
}