@media only screen and (min-width: 650px) {
    #playerCards {
        #blackJackTable {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            margin-top: 110px;
            #YC {
                position: absolute;
                top: 500px
            }
            #cards {
                position: absolute;
                top: 530px;
                height: 130px;
                margin-left: 10px;
                div {
                    img {
                        height: 25px;
                        color: #ffcc5d;
                        svg {
                            color:#ffcc5d;
                        }
                    }
                    color: #ffcc5d;
                }
                
                div {
                    
                    a {
                        position: absolute;
                        left: 120px;
                        color: white;
                    }
                }
            }
        }
    }
    #CCP {
        position: absolute;
        right: 220px;
        top: 580px;
    }
}