@media only screen and (min-width: 650px) {
    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        #headTitle {
            font-size: 70px;
        }
        .line {
            width: 90%;
            height: 1px;
            background-color: #ffcc5d;
        }
        #subTitle {
            font-size: 35px;
            color: #ffcc5d;
        }
            animation: TitleFrame linear 1s;
            animation-iteration-count: 1;
            transform-origin: 50% 50%;
    }
}

@keyframes TitleFrame{
    0% {
      transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
      transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    20% {
      transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    30% {
      transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    40% {
      transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    50% {
      transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    60% {
      transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    70% {
      transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    80% {
      transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    90% {
      transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    100% {
      transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
    }
  }