.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    #headTitle {
        font-size: 70px;
    }
    .line {
        width: 40%;
        height: 1px;
        background-color: black;
    }
    #subTitle {
        font-size: 35px;
    }
}